.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}
#SapXepGiam:hover {
  color: #ffc107;
}
#SapXepTang {
  cursor: pointer;
  transition: all 0.5s;
}
#SapXepTang:hover {
  color: #ffc107;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}
.ui-datepicker-trigger {
  cursor: pointer;
}
#status-update {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-25%);
}
#passEye {
  cursor: pointer;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
#password {
  padding-right: 35px;
}
